body {
    margin: 0;
    background: #F5EBC8;
    font-family: Arial, sans-serif;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.coins-box {
    width: 150px;
    height: 45px;
    background: #804200;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 55px;
}

.coin {
    width: 45px;
    position: absolute;
    top: -10px;
    left: -15px;
}

.coin2 {
    position: absolute;
    width: 45px;
    top: -5px;
    left: 15px;
    opacity: 0.85;
}

.coin-amount {
    font-size: 22px;
    color: #FFD700;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}

.right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.top-icons {
    display: flex;
    gap: 15px;
}

.icon-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.icon-img {
    width: 50px;
    height: 50px;
    background: #804200;
    padding: 10px;
    border-radius: 12px;
}

.user-card {
    width: 250px;
    background: #783800;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 14px;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.2);
}

.user-icon {
    width: 35px;
    height: 35px;
}

.user-info p {
    margin: 2px 0;
}

.main-box {
    width: 900px;
    margin: 40px auto;
    background: #CE8E4E;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.inner-box {
    width: 430px;
    height: 300px;
    background: #783800;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}


.crop-img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.action-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 100px;
    padding-bottom: 50px;
}

.img-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.img-btn img {
    width: 120px;
    height: auto;
    display: block;
}

.seed-modal.hidden {
    display: none;
}

.seed-modal {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    background: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

.seed-box {
    background: #fef8e6;
    padding: 25px;
    border-radius: 14px;
    width: 500px;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.seed-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #8a4f24;
}

.seed-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.seed-item {
    background: #fff;
    padding: 12px;
    border-radius: 12px;
    text-align: center;
    border: 2px solid #d7a86e;
    cursor: pointer;
}

.seed-item img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.seed-item p {
    color: #6a3f1a;
    margin-top: 10px;
    font-size: 16px;
}

.close-btn {
    width: 100%;
    padding: 10px;
    background: #b26b34;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
}
