body {
    margin: 0;
    background: #F5EBC8;
    font-family: Arial, sans-serif;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.coins-box {
    width: 150px;
    height: 45px;
    background: #804200;
    border-radius: 10px;
    position: relative;
}

.coin {
    width: 45px;
    position: absolute;
    top: -10px;
    left: -15px;
}

.coin2 {
    left: 20px;
}

.right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.top-icons {
    display: flex;
    gap: 15px;
}

.icon-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.icon-img {
    width: 50px;
    height: 50px;
    background: #804200;
    padding: 10px;
    border-radius: 12px;
}

.user-card {
    width: 250px;
    background: #783800;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 14px;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.2);
}


.user-icon {
    width: 35px;
    height: 35px;
}

.user-info p {
    margin: 2px 0;
}

.main-box {
    width: 900px;
    margin: 40px auto;
    background: #CE8E4E;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.inner-box {
    width: 430px;
    height: 300px;
    background: #783800;
    border-radius: 20px;
}

.action-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 100px;
    padding-bottom: 50px;
}

.img-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.img-btn img {
    width: 120px;
    height: auto;
    display: block;
}
