body {
    margin: 0;
    background: #F4ECCB;
    font-family: Arial, sans-serif;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.coins-box {
    width: 150px;
    height: 45px;
    background: #804200;
    border-radius: 10px;
    position: relative;
}

.coin {
    width: 45px;
    position: absolute;
    top: -10px;
    left: -15px;
}

.coin2 {
    left: 20px;
}

.top-icons {
    display: flex;
    gap: 20px;
}

.icon-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.icon-img {
    width: 50px;
    height: 50px;
    background: #804200;
    padding: 10px;
    border-radius: 12px;
}

.main-box {
    width: 900px;
    margin: 40px auto;
    background: #C6893F;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.inner-box {
    width: 430px;
    height: 300px;
    background: #7A3A00;
    border-radius: 20px;
}

.action-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
    padding-bottom: 50px;
}

.img-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.img-btn img {
    width: 120px;    
    height: auto;
    display: block;
}
